@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,400;1,700&display=swap');

:root{
    --cyan: hsl(172, 67%, 45%);
    --Verydark: hsl(183, 100%, 15%);
    --Darkgrayish: hsl(186, 14%, 43%);
    --Darkgrayish2: hsl(187, 15%, 45%);
    --Grayish: hsl(184, 14%, 56%);
    --GrayishMe: hsla(188, 14%, 56%, 0.212);
    --Lightgrayish: hsl(185, 41%, 84%);
    --Verylight: hsl(189, 41%, 97%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: var(--Lightgrayish);
    align-items: center;
    justify-content: center;

}
button{
    cursor: pointer;
}

#people, #bill,#customPercentual>div>input{
    width: 100%;
    background-color: var(--GrayishMe);
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--Darkgrayish);
    text-align: right;
}
#customPercentual{
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 10px;
}
#customPercentual>div{
    position: relative;
    width: 30%;
}
#customPercentual > div >input{
    width: 100%;
}
#customPercentual > div >span{
    position: absolute;
    font-size: 1.6rem;
    top:15%;
    left: 10px;
}

#bill:focus,#people:focus,#customPercentual>div>input:focus{
    outline-color: var(--cyan);
    color: var(--Verydark);  
}
.resetBill:disabled{
    background-color: var(--GrayishMe);
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--Darkgrayish);
    cursor: not-allowed;
}
.resetBill{
    background-color: var(--cyan);
    color: var(--Verydark);
    cursor: pointer;
    border: none;
}
main{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.651);
}
.count{
    padding-right: 20px;
}
.count, .numPeopleText > p{
    color: var(--Darkgrayish);
    margin-left: 5px;
    margin-top: 20px;
}
.numPeopleText{
    display: flex;
    justify-content: space-between;
}
.numPeopleText > p:last-child{
    color: rgb(182, 0, 0);
    display: none;
}
.numBillText{
    display: flex;
    justify-content: space-between;
}
.numBillText > p:last-child{
    color: rgb(182, 0, 0);
    display: none;
}

.count > p:first-child{
    margin-top: 0px;
}

.percent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.percent > button, input{
    background-color: var(--Verydark);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
}
#custom{
    background-color: var(--GrayishMe);
    color: var(--Verydark);
    font-weight: 700;
}
.NumP{
    position: relative;
}
img{
    position: absolute;
    bottom: 25%;
    width: 25px;
    left: 1.9%
}
.dollar{
    position: relative;
}
.dollarText{
    color: var(--Darkgrayish);
    font-size: 1.7rem;
    position: absolute;
    bottom: 10%;
    left: 1.9%
}
.price{
    padding-left: 10px;
    background-color: var(--Verydark);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 100%;
}

.info{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}


.info span{
    font-size: 1rem;
    color: var(--Darkgrayish);
}

#reset{
    position: absolute;
    bottom: 20px;
    left: 10%;
    color: var(--Verydark);
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    
}

.pricePerson > span{
    color: var(--cyan);
    font-size: 1.7rem;
}
button:focus{
    background-color: var(--cyan);
    color: var(--Verydark);
    font-weight: 700;
}